{"swagger":"2.0","info":{"title":"Basespace API","description":"Basespace REST API","version":"5.0.0"},"host":"api.basespace.illumina.com","basePath":"/v2","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/agreements/{id}":{"get":{"operationId":"GetV2AgreementsId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Agreement ID"}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2Agreement"},"description":"OK"}},"summary":"Get detailed information about a single agreement","tags":["basespace"]}},"/applicationmetadata":{"get":{"description":"Request metadata about applications","operationId":"GetV2Applicationmetadata","parameters":[{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/ApplicationMetadataV2ApiResponse"},"description":"OK"}},"summary":"Request metadata about applications","tags":["basespace"]}},"/applications":{"get":{"operationId":"GetV2Applications","parameters":[{"in":"query","name":"category","type":"string","description":"Return all apps that belong to a specific category that a user has access to (examples include: Native, Workflow, Other). Only a single category can be specified in a given call"},{"in":"query","name":"references","type":"string","description":"Returns all analysis workflows that a user has access to that were created from a particular app, denoted by its unique slug ID"},{"in":"query","required":true,"name":"cwlactive","type":"boolean","description":"Deprecated as of May 2024. Has no effect, but left here for API backwards compatibility."},{"in":"query","required":true,"name":"autolaunchableonruncompleteappsonly","type":"boolean","description":"Returns only applications that can be auto-launched after a run completes"},{"in":"query","required":true,"name":"allversions","type":"boolean","description":"Return all the applications versions"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["DateCreated","DatePublished","Id","Name","VersionNumber"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V1pre3ApplicationCompactList"},"description":"OK"}},"summary":"Get a list of available applications","tags":["basespace"]}},"/applications/{id}":{"get":{"operationId":"GetV2ApplicationsId","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"query","name":"propertieslimit","type":"integer","description":"Returns only the specified number of properties for the application."},{"in":"query","name":"propertyitemslimit","type":"integer","description":"Returns only the specified number of property items per property for the application"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V1pre3Application"},"description":"OK"}},"summary":"Get information about an app","tags":["basespace"]}},"/applications/{id}/qcthresholds":{"get":{"operationId":"GetV2ApplicationsIdQcthresholds","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2QcThresholdResponse"},"description":"OK"}},"summary":"Get a list of QC thresholds applied to an analysis workflow","tags":["basespace"]},"put":{"description":"List the QC thresholds to be updated. You must include the name of the metric to be thresholded, the type of logical operator, the dataset type unique ID to apply the threshold to, and the threshold values. ","operationId":"PutV2ApplicationsIdQcthresholds","parameters":[{"in":"query","name":"qcthresholds","type":"array","items":{"$ref":"#/definitions/V2QcThreshold"},"collectionFormat":"csv"},{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2QcThresholdResponse"},"description":"OK"}},"summary":"Add or update the QC thresholds applied to an analysis workflow","tags":["basespace"]}},"/applications/{id}/screenshots":{"get":{"operationId":"GetV2ApplicationsIdScreenshots","parameters":[{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Id","DateCreated","Path","Name"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/ApplicationScreenshotsV2ApiResponse"},"description":"OK"}},"summary":"Get screenshots of an app","tags":["basespace"]}},"/applications/{id}/settings":{"get":{"operationId":"GetV2ApplicationsIdSettings","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2ApplicationSettings"},"description":"OK"}},"summary":"Get the settings of an application or workflow","tags":["basespace"]}},"/applications/{id}/versions":{"get":{"operationId":"GetV2ApplicationsIdVersions","parameters":[{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["DateCreated","DatePublished","Id","Name","VersionNumber"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V1pre3ApplicationCompactV1pre3ApplicationsSortFieldsV2ListResponse"},"description":"OK"}},"summary":"Get versions of an app","tags":["basespace"]}},"/applications/{id}/workflowdependencies":{"get":{"operationId":"GetV2ApplicationsIdWorkflowdependencies","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2AnalysisWorkflowDependenciesResponse"},"description":"OK"}},"summary":"Get a list of workflow dependencies on an analysis workflow","tags":["basespace"]},"put":{"description":"Add the required triggers for the analysis workflow to launch. Workflows can depend on a certain amount of biosample actual yield to show up or they can depend on another app completing. ","operationId":"PutV2ApplicationsIdWorkflowdependencies","parameters":[{"in":"query","name":"version","type":"string"},{"in":"query","name":"dependencies","type":"array","items":{"$ref":"#/definitions/V2AnalysisWorkflowDependency"},"collectionFormat":"csv"},{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2AnalysisWorkflowDependenciesResponse"},"description":"OK"}},"summary":"Add or update the workflow dependencies of an analysis workflow","tags":["basespace"]}},"/applications/{id}/workflows":{"post":{"description":"Create an analysis workflow using the settings, app, and version of an existing appsession. ","operationId":"PostV2ApplicationsIdWorkflows","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Applicaiton Id"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostApplicationIdWorkflowsRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/IApplicationCompact"},"description":"OK"}},"summary":"Create or update an analysis workflow","tags":["basespace"]}},"/appresults/{id}/file-upload-info":{"get":{"description":"Request direct file upload presigned url information for a new file in the specified resource (dataset or appresult)","operationId":"GetV2AppresultsIdFile-upload-info","parameters":[{"in":"query","name":"filepath","type":"string"},{"in":"query","name":"uploadpartcount","type":"integer"},{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2PresignedUrlForUpload"},"description":"Request direct file upload presigned url information for a new file in the specified resource"}},"tags":["basespace"]},"post":{"description":"Complete multipart upload and report uploaded files to a resource (dataset or appresult)","operationId":"PostV2AppresultsIdFile-upload-info","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2ResourcePresignedUrlCompleteRequestForEveryone"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V1pre3FileCompact"},"description":"Complete multipart upload and report uploaded files to a resource (dataset or appresult)"}},"tags":["basespace"]}},"/appsessions":{"get":{"operationId":"GetV2Appsessions","parameters":[{"in":"query","name":"appid","type":"integer","description":"Filter by ID of application used"},{"in":"query","name":"applicationfamilyslugs","type":"array","items":{"type":"string"},"description":"Filter by application family","collectionFormat":"csv"},{"in":"query","name":"ownedbycurrentuser","type":"boolean","description":"Only include appsessions where the project has WRITE permission by the current user"},{"in":"query","name":"datemodified","type":"string"},{"in":"query","name":"executionstatus","type":"string","description":"Filter by execution status"},{"in":"query","name":"qcstatus","type":"string","description":"Filter by QC status"},{"in":"query","name":"deliverystatus","type":"string","description":"Filter by delivery status"},{"in":"query","name":"name","type":"string"},{"in":"query","name":"output.projects","type":"array","items":{"type":"integer","format":"int64"},"description":"Filter by ID of output project","collectionFormat":"csv"},{"in":"query","name":"input.runs","type":"array","items":{"type":"integer","format":"int64"},"description":"Filter by ID of run input","collectionFormat":"csv"},{"in":"query","name":"input.biosamples","type":"array","items":{"type":"integer","format":"int64"},"description":"Filter by ID of biosample input","collectionFormat":"csv"},{"in":"query","name":"include","type":"array","items":{"type":"string","enum":["Properties","HrefIcaAnalysis"]},"description":"Additional resources to include","collectionFormat":"csv"},{"in":"query","name":"propertyfilters","type":"array","items":{"type":"string"},"description":"Filter by appsessions include the specified property names","collectionFormat":"csv"},{"in":"query","name":"usercreatedby","type":"integer","description":"ID of user who created appsession"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Name","Id","AppId","ExecutionStatus","ModifiedOn","DateCreated","AppName","TotalSize","QcStatus","DeliveryStatus"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2AppSessionCompactList"},"description":"OK"}},"summary":"Get a list of analyses","tags":["basespace"]},"post":{"operationId":"PostV2Appsessions","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostAppsessionsRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"201":{"schema":{"$ref":"#/definitions/V2AppSession"},"description":"OK"}},"summary":"Create a new interactive AppSession with ExecutionStatus Running","tags":["basespace"]}},"/appsessions/{id}":{"delete":{"operationId":"DeleteV2AppsessionsId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"query","name":"preserve","type":"string","description":"Preserve \"Metadata\", to keep records, but not files, of an appsession"},{"in":"query","name":"bypasstrash","type":"boolean","description":"Select true to go straight to deletion"}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V1pre3TrashItem"},"description":"OK"},"205":{"description":"Reset Content"}},"summary":"Delete a specific analysis","tags":["basespace"]},"get":{"operationId":"GetV2AppsessionsId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"query","name":"include","type":"array","items":{"type":"string","enum":["Children","Logs","RelatedUserWithAccess"]},"description":"Additional resources to include","collectionFormat":"csv"},{"in":"query","name":"showhiddenitems","type":"string","description":"ShowHiddenItems "}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2AppSession"},"description":"OK"}},"summary":"Get information about an analysis","tags":["basespace"]},"post":{"description":"The Execution Status cannot be changed since it is an automated status tracking the progress of running the app. The Qc Status may be updated only when the Execution Status is set to “Complete” or “Aborted”. Delivery Status may be updated at any time. Comments can be added when updating statuses.","operationId":"PostV2AppsessionsId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostAppSessionsIdRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2AppSession"},"description":"OK"}},"summary":"Update an analysis","tags":["basespace"]}},"/appsessions/{id}/comments":{"get":{"operationId":"GetV2AppsessionsIdComments","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Timestamp"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2CommentList"},"description":"OK"}},"summary":"Get a list of comments made about an analysis","tags":["basespace"]}},"/appsessions/{id}/icalogs":{"get":{"operationId":"GetV2AppsessionsIdIcalogs","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2AppSessionIcaLogPathList"},"description":"OK"}},"summary":"Get ICA log steps for workflows and analyses","tags":["basespace"]}},"/appsessions/{id}/icalogs/analyses/{analysisid}/{stepid}":{"get":{"operationId":"GetV2AppsessionsIdIcalogsAnalysesAnalysisidStepid","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"path","required":true,"name":"analysisid","type":"string","description":"ICA Analyses Id"},{"in":"path","required":true,"name":"stepid","type":"string","description":"Step ID"},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2AppSessionIcaStepLogCompactList"},"description":"OK"}},"summary":"Get ICA analysis log step stdout stderr log paths","tags":["basespace"]}},"/appsessions/{id}/icalogs/analyses/{analysisid}/{stepid}/stderr":{"get":{"operationId":"GetV2AppsessionsIdIcalogsAnalysesAnalysisidStepidStderr","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"path","required":true,"name":"analysisid","type":"string","description":"ICA Analyses Id"},{"in":"path","required":true,"name":"stepid","type":"string","description":"Step ID"}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2AppSessionIcaStepLog"},"description":"OK"}},"summary":"Get ICA analysis step stderr log","tags":["basespace"]}},"/appsessions/{id}/icalogs/analyses/{analysisid}/{stepid}/stdout":{"get":{"operationId":"GetV2AppsessionsIdIcalogsAnalysesAnalysisidStepidStdout","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"path","required":true,"name":"analysisid","type":"string","description":"ICA Analyses Id"},{"in":"path","required":true,"name":"stepid","type":"string","description":"Step ID"}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2AppSessionIcaStepLog"},"description":"OK"}},"summary":"Get ICA analysis step stdout log","tags":["basespace"]}},"/appsessions/{id}/icalogs/analyses/{icaanalysisid}":{"get":{"operationId":"GetV2AppsessionsIdIcalogsAnalysesIcaanalysisid","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"path","required":true,"name":"icaanalysisid","type":"string","description":"ICA Analyses Id"},{"in":"query","required":true,"name":"includetechnicalsteps","type":"boolean","description":"Include technical steps"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["StartDate"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2AppSessionIcaStepLogCompactList"},"description":"OK"}},"summary":"Get ICA analysis log steps","tags":["basespace"]}},"/appsessions/{id}/icalogs/orchestrated-analyses":{"get":{"operationId":"GetV2AppsessionsIdIcalogsOrchestrated-analyses","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2AppSessionIcaLogPathList"},"description":"OK"}},"summary":"Get orchestrated analyses","tags":["basespace"]}},"/appsessions/{id}/icalogs/workflowsession":{"get":{"operationId":"GetV2AppsessionsIdIcalogsWorkflowsession","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"query","required":true,"name":"includetechnicalsteps","type":"boolean","description":"Include technical steps"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["StartDate"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2AppSessionIcaStepLogCompactList"},"description":"OK"}},"summary":"Get ICA workflow session log steps","tags":["basespace"]}},"/appsessions/{id}/icalogs/workflowsession/{stepid}":{"get":{"operationId":"GetV2AppsessionsIdIcalogsWorkflowsessionStepid","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"path","required":true,"name":"stepid","type":"string","description":"Step ID"},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2AppSessionIcaStepLogCompactList"},"description":"OK"}},"summary":"Get ICA workflow session log step stdout stderr log paths","tags":["basespace"]}},"/appsessions/{id}/icalogs/workflowsession/{stepid}/stderr":{"get":{"operationId":"GetV2AppsessionsIdIcalogsWorkflowsessionStepidStderr","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"path","required":true,"name":"stepid","type":"string","description":"Step ID"}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2AppSessionIcaStepLog"},"description":"OK"}},"summary":"Get ICA workflow session log step stderr","tags":["basespace"]}},"/appsessions/{id}/icalogs/workflowsession/{stepid}/stdout":{"get":{"operationId":"GetV2AppsessionsIdIcalogsWorkflowsessionStepidStdout","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"path","required":true,"name":"stepid","type":"string","description":"Step ID"}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2AppSessionIcaStepLog"},"description":"OK"}},"summary":"Get ICA workflow session log step stdout","tags":["basespace"]}},"/appsessions/{id}/logfiles":{"get":{"operationId":"GetV2AppsessionsIdLogfiles","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"query","name":"filesetid","type":"string"},{"in":"query","name":"extensions","type":"string","description":"Filter by file extension"},{"in":"query","name":"excludeextensions","type":"string","description":"Exclude by file extension"},{"in":"query","name":"directory","type":"string","description":"Filter by directory path (root is /)"},{"in":"query","name":"includesubdirectories","type":"boolean","description":"Whether to return subdirectories"},{"in":"query","required":true,"name":"excludevcfindexfolder","type":"boolean","description":"Whether to exclude VCF index folders"},{"in":"query","required":true,"name":"excludebamcoveragefolder","type":"boolean","description":"Whether to exclude BAM coverage folders"},{"in":"query","required":true,"name":"excludesystemfolder","type":"boolean","description":"Whether to exclude system folders"},{"in":"query","required":true,"name":"excludeemptyfiles","type":"boolean","description":"Whether to exclude empty files"},{"in":"query","required":true,"name":"filehrefcontentresolution","type":"boolean","description":"Resolves the HrefContent to the direct file URI to avoid a hop to GET: files/{id}/content"},{"in":"query","name":"statuses","type":"array","items":{"type":"string"},"description":"Optionally filter by status (default complete)","collectionFormat":"csv"},{"in":"query","required":true,"name":"turbomode","type":"boolean"},{"in":"query","name":"pathprefix","type":"string","description":"To be pre-fixed in the path of the file"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Id","DateCreated","Path","Name"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2FilesList"},"description":"OK"}},"summary":"Get a list of logs of an analysis","tags":["basespace"]},"post":{"operationId":"PostV2AppsessionsIdLogfiles","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostAppSessionsIdFilesRequest"}}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2FilesList"},"description":"OK"}},"summary":"Add a log file to a specific analysis","tags":["basespace"]}},"/appsessions/{id}/properties":{"get":{"operationId":"GetV2AppsessionsIdProperties","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"query","name":"propertieslimit","type":"integer","description":"Limit the # of properties returned"},{"in":"query","name":"propertyitemslimit","type":"integer","description":"Limit the # of property items returned per property"},{"in":"query","name":"propertyfilters","type":"array","items":{"type":"string"},"description":"Filter by property name","collectionFormat":"csv"},{"in":"query","name":"showhiddenitems","type":"string","description":"Show Hidden projects and Datasets"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Name"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2PropertyCompactList"},"description":"OK"}},"summary":"Get a list of properties of an analysis","tags":["basespace"]},"post":{"operationId":"PostV2AppsessionsIdProperties","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostAppSessionsPropertiesRequest"}}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2PropertyCompactList"},"description":"OK"},"201":{"schema":{"$ref":"#/definitions/V2PropertyCompactList"},"description":"Created"}},"summary":"Add or update properties of an analysis","tags":["basespace"]}},"/appsessions/{id}/properties/{name}":{"delete":{"operationId":"DeleteV2AppsessionsIdPropertiesName","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"path","required":true,"name":"name","type":"string","description":"Property name"}],"responses":{"default":{"$ref":"#/responses/default"},"204":{"description":"No Content"}},"summary":"Delete a property of an analysis","tags":["basespace"]},"get":{"operationId":"GetV2AppsessionsIdPropertiesName","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"path","required":true,"name":"name","type":"string","description":"Property name"},{"in":"query","name":"propertyitemslimit","type":"integer","description":"Limit the # of property items returned per property"},{"in":"query","name":"showhiddenitems","type":"string","description":"Hidden filter"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2Property"},"description":"OK"}},"summary":"Get information about a property of an analysis","tags":["basespace"]}},"/appsessions/{id}/properties/{name}/items":{"get":{"operationId":"GetV2AppsessionsIdPropertiesNameItems","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"path","required":true,"name":"name","type":"string","description":"Property name"},{"in":"query","name":"showhiddenitems","type":"string","description":"Hidden filter"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["DateCreated"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2PropertyItemList"},"description":"OK"}},"summary":"Get a list of items from a property of an analysis","tags":["basespace"]}},"/appsessions/{id}/reports":{"get":{"operationId":"GetV2AppsessionsIdReports","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"}],"responses":{"default":{"$ref":"#/responses/default"}},"tags":["basespace"]}},"/appsessions/{id}/reschedule":{"post":{"operationId":"PostV2AppsessionsIdReschedule","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostAppSessionsIdRescheduleRequest"}}],"responses":{"default":{"$ref":"#/responses/default"}},"summary":"Reschedule a workflow","tags":["basespace"]}},"/appsessions/{id}/stop":{"post":{"description":"The analysis must have a status of “Running” or “Pending”. \nStopping a running analysis will update the status to “Aborted”. \nStopping a pending analysis will update the status to “Canceled”.","operationId":"PostV2AppsessionsIdStop","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Appsession ID"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostAppSessionsIdStopRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2AppSession"},"description":"OK"}},"summary":"Stop an analysis from running","tags":["basespace"]}},"/appsessions/track":{"post":{"operationId":"PostV2AppsessionsTrack","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostAppSessionsTrackRequest"}}],"responses":{"default":{"$ref":"#/responses/default"}},"summary":"Track ICA analyses","tags":["basespace"]}},"/appsessions/workflowsessions/track":{"post":{"operationId":"PostV2AppsessionsWorkflowsessionsTrack","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostAppSessionsWorkflowSessionsTrackRequest"}}],"responses":{"default":{"$ref":"#/responses/default"}},"summary":"Track workflow sessions","tags":["basespace"]}},"/archive":{"post":{"description":"Archive one or more Runs or Projects.  The status will update right away, but the archive process itself is async.","operationId":"PostV2Archive","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2BulkArchiveRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"type":"string"},"description":"OK"}},"summary":"Bulk archive.","tags":["basespace"]}},"/archivingstats":{"get":{"operationId":"GetV2Archivingstats","parameters":[{"in":"query","name":"eventaction","type":"string"}],"responses":{"default":{"$ref":"#/responses/default"}},"summary":"Get a summary of total archiving Data Managment Events , their status  .","tags":["basespace"]}},"/archivingstatsdetails":{"get":{"operationId":"GetV2Archivingstatsdetails","parameters":[{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["ChildActionStatus","CreatedOn","ParentActionStatus"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"$ref":"#/responses/default"}},"summary":"Get list of archiving Data Managment Events , their status  .","tags":["basespace"]}},"/autodeletionevents":{"get":{"operationId":"GetV2Autodeletionevents","parameters":[{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["DateStarted","TotalSize"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"$ref":"#/responses/default"}},"summary":"Get a list of all auto-deletion events.","tags":["basespace"]}},"/autodeletionpipeline":{"get":{"operationId":"GetV2Autodeletionpipeline","parameters":[{"in":"query","name":"emailtemplatename","type":"string"},{"in":"query","required":true,"name":"format","type":"string","enum":["Json","Tsv"]}],"responses":{"default":{"$ref":"#/responses/default"}},"summary":"Get the list of users who have entered the auto-deletion pipeline due to inactivity or exceeding their storage limit.","tags":["basespace"]}},"/autodeletionusers":{"get":{"operationId":"GetV2Autodeletionusers","parameters":[{"in":"query","name":"emailtemplatename","type":"string"},{"in":"query","required":true,"name":"sent","type":"boolean"},{"in":"query","required":true,"name":"illuminausers","type":"boolean"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["StorageUsage","LastActivityOn"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"$ref":"#/responses/default"}},"summary":"Get a summary of users who are about to have their account data deleted due to data retention policy.","tags":["basespace"]}},"/biosamples":{"get":{"operationId":"GetV2Biosamples","parameters":[{"in":"query","name":"biosamplename","type":"array","items":{"type":"string"},"description":"Only return biosamples with the given BioSampleName(s)","collectionFormat":"csv"},{"in":"query","name":"include","type":"array","items":{"type":"string"},"description":"Sub elements to include in the response","collectionFormat":"csv"},{"in":"query","name":"propertynamestartswith","type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"query","name":"status","type":"array","items":{"type":"string"},"description":"Only return biosamples with the given Status(es)","collectionFormat":"csv"},{"in":"query","name":"labstatus","type":"array","items":{"type":"string"},"description":"Only return biosamples with the given LabStatus(es)","collectionFormat":"csv"},{"in":"query","name":"projectid","type":"array","items":{"type":"string"},"description":"Only return biosamples with the specified default projects or datasets in those projects","collectionFormat":"csv"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Id","BioSampleName","Nickname","DateModified","UserOwnedBy","Project","Subject","LabStatus","Status"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2BiologicalSampleCompactList"},"description":"OK"}},"summary":"Get a list of biosamples","tags":["basespace"]},"post":{"description":"Create a biological sample.","operationId":"PostV2Biosamples","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2CreateBiologicalSampleRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2BiologicalSample"},"description":"OK"}},"tags":["basespace"]}},"/biosamples/{biosampleid}/labrequeues":{"get":{"description":"All lab requeues, from each of the types, are listed here. A pool lab requeue will show up on the list of lab requeues for all biosamples that make up the pool.","operationId":"GetV2BiosamplesBiosampleidLabrequeues","parameters":[{"in":"path","required":true,"name":"biosampleid","type":"string","description":"Biosample ID"},{"in":"query","name":"type","type":"string","description":"Specify which type of lab requeue to be listed e.g. NewBioSampleLibrary, AdditionalYieldOfLibraryPool, or AdditionalYieldOfFinishedLibrary."},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Id","DateModified","Type","RequestedAdditionalYield","DateCreated"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2LabRequeueCompactList"},"description":"OK"}},"summary":"Get a list of a biosample�s lab requeues","tags":["basespace"]}},"/biosamples/{id}":{"get":{"operationId":"GetV2BiosamplesId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Biosample ID"},{"in":"query","name":"include","type":"array","items":{"type":"string"},"description":"Sub elements to include in the response","collectionFormat":"csv"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2BiologicalSample"},"description":"OK"}},"summary":"Get information about a biosample","tags":["basespace"]},"post":{"description":"Setting a new default project of a biosample will redirect newly created datasets to the new project. The biosample status may transition between any of the possible statuses. Setting a biosample to canceled will automatically cancel all analyses in progress for that biosample.","operationId":"PostV2BiosamplesId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Biosample ID"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2UpdateBiologicalSampleRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2BiologicalSample"},"description":"OK"}},"summary":"Update a Biosample","tags":["basespace"]}},"/biosamples/{id}/aggregatedfastqdatasets":{"get":{"operationId":"GetV2BiosamplesIdAggregatedfastqdatasets","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Biosample ID"},{"in":"query","name":"selectedlibraryprepids","type":"array","items":{"type":"string"},"description":"Optional comma-separated list of selected LibraryPrepId values to consider","collectionFormat":"csv"},{"in":"query","required":true,"name":"mixlibrarytypesallowed","type":"boolean","description":"If true, mixing datasets of different library types is allowed, false otherwise"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Name","DateCreated","DateModified","AppSessionName","ApplicationName","ProjectName","Size","QcStatus"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"$ref":"#/responses/default"}},"summary":"Get aggregated datasets for a given biosample","tags":["basespace"]}},"/biosamples/{id}/aggregation":{"post":{"operationId":"PostV2BiosamplesIdAggregation","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostBioSamplesIdAggregationRequest"}}],"responses":{"default":{"$ref":"#/responses/default"}},"summary":"Update Biosample aggregation","tags":["basespace"]}},"/biosamples/{id}/libraries":{"get":{"operationId":"GetV2BiosamplesIdLibraries","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Biosample ID"},{"in":"query","name":"include","type":"array","items":{"type":"string"},"description":"Sub elements to include in the response: LibraryIndex, YieldInformation","collectionFormat":"csv"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Id","Name","DateCreated","DateModified","ProjectName","Biomolecule","Status","UserOwnedBy"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2LibraryCompactList"},"description":"OK"}},"summary":"Get a list of a biosample�s libraries","tags":["basespace"]},"post":{"operationId":"PostV2BiosamplesIdLibraries","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostBiosampleLibraryRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2LibraryCompact"},"description":"OK"}},"summary":"Create a library for a biosample","tags":["basespace"]}},"/biosamples/{id}/properties":{"get":{"description":"List properties for a resource","operationId":"GetV2BiosamplesIdProperties","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"query","name":"propertieslimit","type":"integer","description":"Limit the # of properties returned"},{"in":"query","name":"propertyitemslimit","type":"integer","description":"Limit the # of property items returned per property"},{"in":"query","name":"propertyfilters","type":"array","items":{"type":"string"},"description":"Filter by property name","collectionFormat":"csv"},{"in":"query","name":"showhiddenitems","type":"string","description":"Show Hidden projects and Datasets"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Name"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2PropertyCompactList"},"description":"OK"}},"tags":["basespace"]}},"/biosamples/{id}/properties/{name}":{"get":{"description":"Get property information","operationId":"GetV2BiosamplesIdPropertiesName","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"path","required":true,"name":"name","type":"string","description":"Property name"},{"in":"query","name":"propertyitemslimit","type":"integer","description":"Limit the # of property items returned per property"},{"in":"query","name":"showhiddenitems","type":"string","description":"Hidden filter"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2Property"},"description":"OK"}},"tags":["basespace"]}},"/biosamples/{id}/properties/{name}/items":{"get":{"description":"Get property item details","operationId":"GetV2BiosamplesIdPropertiesNameItems","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"path","required":true,"name":"name","type":"string","description":"Property name"},{"in":"query","name":"showhiddenitems","type":"string","description":"Hidden filter"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["DateCreated"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2PropertyItemList"},"description":"OK"}},"tags":["basespace"]}},"/biosamples/{id}/runlanesummaries":{"get":{"operationId":"GetV2BiosamplesIdRunlanesummaries","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Biosample ID"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["CreatedOn","ModifiedOn"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2RunLaneSummaryList"},"description":"OK"}},"summary":"Get information about biosample’s lane mapping","tags":["basespace"]}},"/biosamples/bulkupdate":{"post":{"description":"Setting a new default project of a biosample will redirect newly created datasets to the new project.","operationId":"PostV2BiosamplesBulkupdate","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostBioSamplesBulkUpdateRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/IBiologicalSampleCompactList"},"description":"OK"}},"summary":"Update the default project of many biosamples","tags":["basespace"]}},"/datacompress":{"post":{"description":"Queue one or more resources for data compression.  Compression process is async.","operationId":"PostV2Datacompress","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2BulkDataCompressRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"type":"string"},"description":"OK"}},"summary":"Bulk Data Compression.","tags":["basespace"]}},"/datasets":{"get":{"operationId":"GetV2Datasets","parameters":[{"in":"query","name":"include","type":"array","items":{"type":"string"},"description":"Can specify to return Properties, which returns an additional properties section for each dataset. Or return AppSessionRoot, which returns information about the root analysis of a workflow in the AppSession section for each dataset it applies to.","collectionFormat":"csv"},{"in":"query","name":"propertyfilters","type":"array","items":{"type":"string"},"description":"Specify which properties to include in the properties section, e.g. Input.BioSamples, Input.Libraries, or Input.Runs.","collectionFormat":"csv"},{"in":"query","name":"datasettypes","type":"array","items":{"type":"string"},"description":"Return datasets of this type or excluding this type. Supports comma-separated lists.","collectionFormat":"csv"},{"in":"query","name":"qcstatus","type":"array","items":{"type":"string"},"description":"Return datasets of this QC status.","collectionFormat":"csv"},{"in":"query","name":"uploadstatus","type":"array","items":{"type":"string"},"description":"Return datasets of this file upload status.","collectionFormat":"csv"},{"in":"query","name":"inputbiosamples","type":"array","items":{"type":"integer","format":"int64"},"description":"Return datasets related to this biosample ID.","collectionFormat":"csv"},{"in":"query","name":"inputruns","type":"array","items":{"type":"integer","format":"int64"},"description":"Return datasets related to this run ID.","collectionFormat":"csv"},{"in":"query","name":"inputruntokens","type":"array","items":{"type":"string"},"description":"Return datasets related to this run ID token.","collectionFormat":"csv"},{"in":"query","name":"projectid","type":"string","description":"Return datasets related to this project ID."},{"in":"query","name":"appsessionids","type":"array","items":{"type":"integer","format":"int64"},"description":"Return datasets related to this app session ID.","collectionFormat":"csv"},{"in":"query","name":"isarchived","type":"string","description":"The archive states to filter by. Valid values include: True, False."},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Name","DateCreated","DateModified","AppSessionName","ApplicationName","ProjectName","Size","QcStatus"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2DatasetCompactList"},"description":"A list of datasets"}},"summary":"Get a list of datasets","tags":["basespace"]},"post":{"operationId":"PostV2Datasets","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostDatasetsRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"201":{"schema":{"$ref":"#/definitions/V2Dataset"},"description":"OK"}},"summary":"Create a dataset that doesn't belong in a specific project","tags":["basespace"]}},"/datasets/{id}":{"get":{"operationId":"GetV2DatasetsId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Dataset ID"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2Dataset"},"description":"OK"}},"summary":"Get information about a dataset","tags":["basespace"]},"post":{"description":"The QcStatus of a dataset may only be updated when the UploadStatus is set to “Complete”. The QcStatus may then be updated to one of the following values: QcFailed or QcPassed. A comment may be entered into the Comment field when updating the dataset QcStatus.","operationId":"PostV2DatasetsId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Dataset ID"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostDatasetsIdRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2Dataset"},"description":"OK"}},"summary":"Update an existing dataset","tags":["basespace"]}},"/datasets/{id}/comments":{"get":{"operationId":"GetV2DatasetsIdComments","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Dataset ID"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Timestamp"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2CommentList"},"description":"OK"}},"summary":"Get a list of comments made about a dataset","tags":["basespace"]}},"/datasets/{id}/copy":{"post":{"operationId":"PostV2DatasetsIdCopy","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostDatasetsIdCopyRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2Dataset"},"description":"OK"}},"summary":"Copy a dataset to a project","tags":["basespace"]}},"/datasets/{id}/direct-upload-info":{"get":{"description":"Request direct upload information for a new dataset","operationId":"GetV2DatasetsIdDirect-upload-info","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V1pre3DirectUploadInformation"},"description":"Request direct upload information for a new resource"}},"tags":["basespace"]},"post":{"description":"Report uploaded files to a dataset","operationId":"PostV2DatasetsIdDirect-upload-info","parameters":[{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V1pre3PostDatasetIdDirectUploadInfoRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V1pre3FileCompactList"},"description":"Report uploaded files to a resource"}},"tags":["basespace"]}},"/datasets/{id}/files":{"get":{"operationId":"GetV2DatasetsIdFiles","parameters":[{"in":"query","name":"filesetid","type":"string"},{"in":"query","name":"extensions","type":"string","description":"Filter by file extension"},{"in":"query","name":"excludeextensions","type":"string","description":"Exclude by file extension"},{"in":"query","name":"directory","type":"string","description":"Filter by directory path (root is /)"},{"in":"query","name":"includesubdirectories","type":"boolean","description":"Whether to return subdirectories"},{"in":"query","required":true,"name":"excludevcfindexfolder","type":"boolean","description":"Whether to exclude VCF index folders"},{"in":"query","required":true,"name":"excludebamcoveragefolder","type":"boolean","description":"Whether to exclude BAM coverage folders"},{"in":"query","required":true,"name":"excludesystemfolder","type":"boolean","description":"Whether to exclude system folders"},{"in":"query","required":true,"name":"excludeemptyfiles","type":"boolean","description":"Whether to exclude empty files"},{"in":"query","required":true,"name":"filehrefcontentresolution","type":"boolean","description":"Resolves the HrefContent to the direct file URI to avoid a hop to GET: files/{id}/content"},{"in":"query","name":"statuses","type":"array","items":{"type":"string"},"description":"Optionally filter by status (default complete)","collectionFormat":"csv"},{"in":"query","required":true,"name":"turbomode","type":"boolean"},{"in":"query","name":"pathprefix","type":"string","description":"To be pre-fixed in the path of the file"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Id","DateCreated","Path","Name"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2FilesList"},"description":"OK"}},"summary":"Get a list of files of a dataset","tags":["basespace"]},"post":{"consumes":["multipart/form-data"],"operationId":"PostV2DatasetsIdFiles","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"},{"in":"formData","required":true,"name":"file","type":"file","description":"The file to upload"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V1pre3File"},"description":"OK"}},"tags":["basespace"]}},"/datasets/{id}/file-upload-info":{"get":{"description":"Request direct file upload presigned url information for a new file in the specified resource (dataset or appresult)","operationId":"GetV2DatasetsIdFile-upload-info","parameters":[{"in":"query","name":"filepath","type":"string"},{"in":"query","name":"uploadpartcount","type":"integer"},{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2PresignedUrlForUpload"},"description":"Request direct file upload presigned url information for a new file in the specified resource"}},"tags":["basespace"]},"post":{"description":"Complete multipart upload and report uploaded files to a resource (dataset or appresult)","operationId":"PostV2DatasetsIdFile-upload-info","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2ResourcePresignedUrlCompleteRequestForEveryone"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V1pre3FileCompact"},"description":"Complete multipart upload and report uploaded files to a resource (dataset or appresult)"}},"tags":["basespace"]}},"/datasets/{id}/properties":{"get":{"description":"List properties for a resource","operationId":"GetV2DatasetsIdProperties","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"query","name":"propertieslimit","type":"integer","description":"Limit the # of properties returned"},{"in":"query","name":"propertyitemslimit","type":"integer","description":"Limit the # of property items returned per property"},{"in":"query","name":"propertyfilters","type":"array","items":{"type":"string"},"description":"Filter by property name","collectionFormat":"csv"},{"in":"query","name":"showhiddenitems","type":"string","description":"Show Hidden projects and Datasets"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Name"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2PropertyCompactList"},"description":"OK"}},"tags":["basespace"]}},"/datasets/{id}/properties/{name}":{"get":{"description":"Get property information","operationId":"GetV2DatasetsIdPropertiesName","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"path","required":true,"name":"name","type":"string","description":"Property name"},{"in":"query","name":"propertyitemslimit","type":"integer","description":"Limit the # of property items returned per property"},{"in":"query","name":"showhiddenitems","type":"string","description":"Hidden filter"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2Property"},"description":"OK"}},"tags":["basespace"]}},"/datasets/{id}/properties/{name}/items":{"get":{"description":"Get property item details","operationId":"GetV2DatasetsIdPropertiesNameItems","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"path","required":true,"name":"name","type":"string","description":"Property name"},{"in":"query","name":"showhiddenitems","type":"string","description":"Hidden filter"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["DateCreated"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2PropertyItemList"},"description":"OK"}},"tags":["basespace"]}},"/datasettypes/{id}":{"get":{"operationId":"GetV2DatasettypesId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Dataset type ID"},{"in":"query","name":"include","type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2DatasetType"},"description":"OK"}},"summary":"Get information about a dataset type","tags":["basespace"]}},"/gdssharetransferstats":{"get":{"operationId":"GetV2Gdssharetransferstats","parameters":[{"in":"query","name":"operationtype","type":"string"},{"in":"query","name":"status","type":"string"},{"in":"query","name":"maxitems","type":"string"}],"responses":{"default":{"$ref":"#/responses/default"}},"summary":"Get a summary of GDS share or transfer operations.","tags":["basespace"]}},"/icadownloads/create-download-url":{"post":{"description":"Get download url for data on ICA","operationId":"PostV2IcadownloadsCreate-download-url","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2IcaFileCreateDownloadUrlRequest"}}],"responses":{"default":{"$ref":"#/responses/default"}},"tags":["basespace"]}},"/icauploads/{foldertype}/{dataid}":{"delete":{"description":"Delete a resource in ICA","operationId":"DeleteV2IcauploadsFoldertypeDataid","parameters":[{"in":"path","required":true,"name":"foldertype","type":"string"},{"in":"path","required":true,"name":"dataid","type":"string"}],"responses":{"default":{"$ref":"#/responses/default"}},"tags":["basespace"]}},"/icauploads/{foldertype}/complete-upload":{"post":{"description":"Complete file(s) upload to ICA, and respond with meta data","operationId":"PostV2IcauploadsFoldertypeComplete-upload","parameters":[{"in":"path","required":true,"name":"foldertype","type":"string"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2IcaCompleteUploadRequest"}}],"responses":{"default":{"$ref":"#/responses/default"}},"tags":["basespace"]}},"/icauploads/{foldertype}/direct-upload-info":{"post":{"description":"Get upload destination on ICA and temporary upload credentials","operationId":"PostV2IcauploadsFoldertypeDirect-upload-info","parameters":[{"in":"path","required":true,"name":"foldertype","type":"string"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2IcaFileUploadRequest"}}],"responses":{"default":{"$ref":"#/responses/default"}},"tags":["basespace"]}},"/instrumentconnectioncheck/file-upload-info":{"get":{"description":"Request access to temporary data presigned URL for upload to test connectivity","operationId":"GetV2InstrumentconnectioncheckFile-upload-info","parameters":[{"in":"query","name":"filepath","type":"string"},{"in":"query","name":"uploadpartcount","type":"integer"},{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2PresignedUrlForUpload"},"description":"Request access to temporary data presigned URL for upload to test connectivity"}},"tags":["basespace"]}},"/instrumentdiagnostics":{"post":{"description":"Create non-run instrument diagnostic data.","operationId":"PostV2Instrumentdiagnostics","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2CreateInstrumentDiagnosticRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2InstrumentDiagnostic"},"description":"Create non-run instrument diagnostic data"}},"tags":["basespace"]}},"/instrumentdiagnostics/{id}":{"get":{"description":"Get non-run instrument diagnostic data.","operationId":"GetV2InstrumentdiagnosticsId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2InstrumentDiagnostic"},"description":"Get non-run instrument diagnostic data"}},"tags":["basespace"]},"post":{"description":"Update non-run instrument diagnostic data.","operationId":"PostV2InstrumentdiagnosticsId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2UpdateInstrumentDiagnosticRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2InstrumentDiagnostic"},"description":"Update non-run instrument diagnostic data"}},"tags":["basespace"]}},"/instruments":{"get":{"description":"List available instruments for a user.","operationId":"GetV2Instruments","parameters":[{"in":"query","required":true,"name":"allworkgroups","type":"boolean"},{"in":"query","required":true,"name":"activeruns","type":"boolean"},{"in":"query","name":"fromdate","type":"string"},{"in":"query","name":"todate","type":"string"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Id","Name"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2InstrumentCompactList"},"description":"A list of instruments"}},"tags":["basespace"]}},"/instruments/errors":{"post":{"description":"Post instrument errors.","operationId":"PostV2InstrumentsErrors","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostInstrumentErrorsRequest"}}],"responses":{"default":{"$ref":"#/responses/default"},"200":{"schema":{"$ref":"#/definitions/V2InstrumentErrorResponse"},"description":"OK"}},"tags":["basespace"]}},"/instrumentstatistics":{"get":{"description":"Get instrument statistics for given serial numbers and time range. Returned data can be grouped by month or week.","operationId":"GetV2Instrumentstatistics","parameters":[{"in":"path","required":true,"name":"serialnumbers","type":"string","description":"Comma-separated list of serial numbers."},{"in":"path","required":true,"name":"fromdate","type":"none","description":"From date in user ISO 8601 format."},{"in":"query","name":"todate","type":"none","description":"To date in ISO 8601 format. Defaults to current date if not specified."},{"in":"query","name":"binby","type":"string","description":"BinBy can be 'week' or 'month'."},{"in":"path","required":true,"name":"timezone","type":"string","description":"User timezone for binning."},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Id","SerialNumber"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2InstrumentStatList"},"description":"OK"}},"summary":"Get instrument statistics","tags":["basespace"]}},"/instrumentstatus":{"get":{"description":"List of instruments with active runs","operationId":"GetV2Instrumentstatus","parameters":[{"in":"query","name":"serialnumbers","type":"string","description":"A comma-delimited list of instrument serial numbers."},{"in":"query","required":true,"name":"includeactiveruns","type":"boolean","description":"Set to true to include a list of active runs for each instrument.  Default is false."},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Id","Name"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2InstrumentStatusCompactList"},"description":"A list of instruments with active runs"}},"tags":["basespace"]}},"/labrequeues":{"get":{"operationId":"GetV2Labrequeues","parameters":[{"in":"query","name":"status","type":"array","items":{"type":"string"},"description":"Only return labrequeues with the given Status(es)","collectionFormat":"csv"},{"in":"query","name":"type","type":"array","items":{"type":"string"},"description":"Only return labrequeues with the given LabRequeueTypes(s)","collectionFormat":"csv"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Id","DateModified","Type","RequestedAdditionalYield","DateCreated"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2LabRequeueList"},"description":"OK"}},"summary":"Get a list of lab requeues","tags":["basespace"]}},"/labrequeues/{id}":{"get":{"operationId":"GetV2LabrequeuesId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Labrequeue ID"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2LabRequeue"},"description":"OK"}},"summary":"Get information about a specific labrequeue","tags":["basespace"]}},"/laneqcthresholds":{"get":{"description":"The QC thresholds are applied to a user's account. Any runs uploaded in that user's context will automatically have all lanes of the flowcell undergo automatic QC based on the QC thresholds. Thresholds are saved either to a lane, or to a lane and read number.","operationId":"GetV2Laneqcthresholds","parameters":[{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2QcThresholdResponse"},"description":"OK"}},"summary":"Get a list of QC thresholds applied to lanes","tags":["basespace"]},"put":{"description":"List the QC thresholds to be updated.","operationId":"PutV2Laneqcthresholds","parameters":[{"in":"query","name":"qcthresholds","type":"array","items":{"$ref":"#/definitions/V2QcThreshold"},"collectionFormat":"csv"},{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2QcThresholdResponse"},"description":"OK"}},"summary":"Add or update the QC thresholds applied to lanes","tags":["basespace"]}},"/lanes/{id}":{"get":{"operationId":"GetV2LanesId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/Lane"},"description":"OK"}},"summary":"Get information about a lane","tags":["basespace"]},"post":{"description":"The status of a lane may be updated to the following values: QcFailed, QcPassed.","operationId":"PostV2LanesId","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostLanesIdRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/Lane"},"description":"OK"}},"summary":"Update a lane","tags":["basespace"]}},"/lanes/{id}/comments":{"get":{"operationId":"GetV2LanesIdComments","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Lane ID"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Timestamp"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2CommentList"},"description":"OK"}},"summary":"Get a list of comments on a lane","tags":["basespace"]}},"/libraries":{"get":{"operationId":"GetV2Libraries","parameters":[{"in":"query","name":"status","type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Id","Name","DateCreated","DateModified","ProjectName","Biomolecule","Status","UserOwnedBy"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2LibraryCompactList"},"description":"OK"}},"summary":"Get a list of libraries","tags":["basespace"]}},"/libraries/{id}/properties":{"get":{"description":"List properties for a resource","operationId":"GetV2LibrariesIdProperties","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"query","name":"propertieslimit","type":"integer","description":"Limit the # of properties returned"},{"in":"query","name":"propertyitemslimit","type":"integer","description":"Limit the # of property items returned per property"},{"in":"query","name":"propertyfilters","type":"array","items":{"type":"string"},"description":"Filter by property name","collectionFormat":"csv"},{"in":"query","name":"showhiddenitems","type":"string","description":"Show Hidden projects and Datasets"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Name"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2PropertyCompactList"},"description":"OK"}},"tags":["basespace"]}},"/libraries/{id}/properties/{name}":{"get":{"description":"Get property information","operationId":"GetV2LibrariesIdPropertiesName","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"path","required":true,"name":"name","type":"string","description":"Property name"},{"in":"query","name":"propertyitemslimit","type":"integer","description":"Limit the # of property items returned per property"},{"in":"query","name":"showhiddenitems","type":"string","description":"Hidden filter"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2Property"},"description":"OK"}},"tags":["basespace"]}},"/libraries/{id}/properties/{name}/items":{"get":{"description":"Get property item details","operationId":"GetV2LibrariesIdPropertiesNameItems","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"path","required":true,"name":"name","type":"string","description":"Property name"},{"in":"query","name":"showhiddenitems","type":"string","description":"Hidden filter"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["DateCreated"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2PropertyItemList"},"description":"OK"}},"tags":["basespace"]}},"/libraries/{libraryid}/labrequeues":{"post":{"description":"The requested additional yield is the total yield to be requested for the whole pool. To estimate how much yield will be added from each library, divide the requested additional yield by the number of libraries in the pool.","operationId":"PostV2LibrariesLibraryidLabrequeues","parameters":[{"in":"path","required":true,"name":"libraryid","type":"string"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2CreateExistingLibraryLabRequeueRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2LabRequeue"},"description":"OK"}},"summary":"Add a lab requeue request for more yield from a library","tags":["basespace"]}},"/librarypools":{"get":{"operationId":"GetV2Librarypools","parameters":[{"in":"query","name":"status","type":"array","items":{"type":"string"},"description":"Possible values are: Active, Failed, Consumed, QCFailed","collectionFormat":"csv"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Id","Name","UserPoolId","DateCreated","DateModified","Status","UserOwnedBy"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V1pre3LibraryPoolCompact"},"description":"OK"}},"summary":"Get a list of library pools","tags":["basespace"]}},"/librarypools/{id}":{"post":{"description":"The status of a pool may be updated to the following values: Active, Failed, Consumed or QCFailed. Setting a pool to Failed or QCFailed will exclude all FASTQ datasets created from the pool from app launch when one of its biosamples are selected as an input. This is also reflected on the Actual Yield of each biosample in the pool.","operationId":"PostV2LibrarypoolsId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostLibraryPoolIdRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V1pre3LibraryPoolCompact"},"description":"OK"}},"summary":"Update a pool","tags":["basespace"]}},"/librarypools/{id}/libraries":{"get":{"operationId":"GetV2LibrarypoolsIdLibraries","parameters":[{"in":"query","name":"include","type":"array","items":{"type":"string"},"description":"Sub elements to include in the response: LibraryIndex, YieldInformation","collectionFormat":"csv"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Id","Name","DateCreated","DateModified","ProjectName","Biomolecule","Status","UserOwnedBy"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"},{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2LibraryCompactExtendedV2LibrarySortFieldsResourceList"},"description":"OK"}},"summary":"Get a list of libraries of a pool","tags":["basespace"]}},"/librarypools/{id}/properties":{"get":{"description":"List properties for a resource","operationId":"GetV2LibrarypoolsIdProperties","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"query","name":"propertieslimit","type":"integer","description":"Limit the # of properties returned"},{"in":"query","name":"propertyitemslimit","type":"integer","description":"Limit the # of property items returned per property"},{"in":"query","name":"propertyfilters","type":"array","items":{"type":"string"},"description":"Filter by property name","collectionFormat":"csv"},{"in":"query","name":"showhiddenitems","type":"string","description":"Show Hidden projects and Datasets"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Name"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2PropertyCompactList"},"description":"OK"}},"tags":["basespace"]}},"/librarypools/{id}/properties/{name}":{"get":{"description":"Get property information","operationId":"GetV2LibrarypoolsIdPropertiesName","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"path","required":true,"name":"name","type":"string","description":"Property name"},{"in":"query","name":"propertyitemslimit","type":"integer","description":"Limit the # of property items returned per property"},{"in":"query","name":"showhiddenitems","type":"string","description":"Hidden filter"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2Property"},"description":"OK"}},"tags":["basespace"]}},"/librarypools/{id}/properties/{name}/items":{"get":{"description":"Get property item details","operationId":"GetV2LibrarypoolsIdPropertiesNameItems","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"path","required":true,"name":"name","type":"string","description":"Property name"},{"in":"query","name":"showhiddenitems","type":"string","description":"Hidden filter"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["DateCreated"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2PropertyItemList"},"description":"OK"}},"tags":["basespace"]}},"/librarypools/{poolid}/labrequeues":{"post":{"operationId":"PostV2LibrarypoolsPoolidLabrequeues","parameters":[{"in":"path","required":true,"name":"poolid","type":"string"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2CreateExistingPoolLabRequeueRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2LabRequeue"},"description":"OK"}},"summary":"Add a lab requeue request for more yield from a pool","tags":["basespace"]}},"/notifications/{id}":{"delete":{"description":"Delete a notification","operationId":"DeleteV2NotificationsId","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"$ref":"#/responses/default"},"204":{"description":"No response"}},"tags":["basespace"]}},"/notifications/dismiss":{"put":{"description":"Dismiss a user notification. Only DataDeletion, Storage or Subscription notifications can dismissed. For Deleting an Activity notification, use the DELETE endpoint","operationId":"PutV2NotificationsDismiss","parameters":[{"in":"query","required":true,"name":"stream","type":"string","description":"The stream type of the notification to be dismissed.Only DataDeletion, Storage or Subscription notifications can dismissed.  "},{"in":"query","required":true,"name":"type","type":"string","description":"The Type of the notification with in a stream.Only notifications with 'IsDismissable' flag set are dismissable"},{"in":"query","name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"description":"OK"}},"summary":"Dismiss a user notification.","tags":["basespace"]}},"/oauthv1/tokenfromoauthv2":{"post":{"description":"Get OAuthV1 token using an OAuthV2Token","operationId":"PostV2Oauthv1Tokenfromoauthv2","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2OAuthV1FromOAuthV2Request"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2OAuthV1Token"},"description":"OAuthV1 token issued from an OAuthV2 token"}},"tags":["basespace"]}},"/oauthv2/token":{"post":{"operationId":"PostV2Oauthv2Token","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/OAuthV2AccessTokenRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/OAuthV2AccessTokenResponse"},"description":"OK"}},"tags":["basespace"]}},"/oauthv2/tokenfromapplicationjwt":{"post":{"description":"Create token for a trusted Platform service","operationId":"PostV2Oauthv2Tokenfromapplicationjwt","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2OAuthV2TokenFromApplicationJwtRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"201":{"schema":{"$ref":"#/definitions/V2OAuthV2Token"},"description":"OAuthV2 token"}},"tags":["basespace"]}},"/oauthv2tokens/{userid}":{"post":{"description":"Create token for a given user id","operationId":"PostV2Oauthv2tokensUserid","parameters":[{"in":"path","required":true,"name":"userid","type":"string"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2OAuthV2TokenRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2OAuthV2Token"},"description":"OAuthV2 token for workgroup"}},"tags":["basespace"]}},"/oauthv2tokens/current":{"delete":{"description":"Invalidate/delete token for a given user","operationId":"DeleteV2Oauthv2tokensCurrent","parameters":[],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"description":"OAuthV2 token invalidated"}},"tags":["basespace"]}},"/preprequests/{preprequestid}/labrequeues":{"post":{"description":"Request a requeue for a new library, given an existing preprequest.","operationId":"PostV2PreprequestsPreprequestidLabrequeues","parameters":[{"in":"path","required":true,"name":"preprequestid","type":"string"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2CreateNewLibraryLabRequeueRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2LabRequeue"},"description":"OK"}},"summary":"Add a lab requeue request for more yield from a biosample","tags":["basespace"]}},"/projects":{"post":{"operationId":"PostV2Projects","parameters":[{"in":"query","required":true,"name":"name","type":"string","description":"The name of the project."},{"in":"query","name":"description","type":"string","description":"Optional description of the project."},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostProjectsRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V1pre3Project"},"description":"OK"}},"summary":"Create a project by name","tags":["basespace"]}},"/projects/{id}":{"get":{"operationId":"GetV2ProjectsId","parameters":[{"in":"query","name":"propertieslimit","type":"integer"},{"in":"query","name":"propertyitemslimit","type":"integer"},{"in":"query","name":"include","type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"path","required":true,"name":"id","type":"string","description":"The Id of the resource"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V1pre3Project"},"description":"Get information about a project"}},"summary":"Get information about a project","tags":["basespace"]}},"/projects/{id}/datasets":{"get":{"operationId":"GetV2ProjectsIdDatasets","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Project ID"},{"in":"query","name":"isarchived","type":"string","description":"The archive states to filter by. Valid values include: True, False."},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Name","DateCreated","DateModified","AppSessionName","ApplicationName","ProjectName","Size","QcStatus"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2DatasetCompactList"},"description":"OK"}},"summary":"Get a list of datasets in a project","tags":["basespace"]},"post":{"operationId":"PostV2ProjectsIdDatasets","parameters":[{"in":"path","required":true,"name":"id","type":"string","description":"Project ID"},{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostProjectsIdDatasetsRequest"}}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2Dataset"},"description":"OK"}},"summary":"Create a dataset within a specific project","tags":["basespace"]}},"/projects/{id}/properties":{"get":{"description":"List properties for a resource","operationId":"GetV2ProjectsIdProperties","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"query","name":"propertieslimit","type":"integer","description":"Limit the # of properties returned"},{"in":"query","name":"propertyitemslimit","type":"integer","description":"Limit the # of property items returned per property"},{"in":"query","name":"propertyfilters","type":"array","items":{"type":"string"},"description":"Filter by property name","collectionFormat":"csv"},{"in":"query","name":"showhiddenitems","type":"string","description":"Show Hidden projects and Datasets"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["Name"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2PropertyCompactList"},"description":"OK"}},"tags":["basespace"]}},"/projects/{id}/properties/{name}":{"get":{"description":"Get property information","operationId":"GetV2ProjectsIdPropertiesName","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"path","required":true,"name":"name","type":"string","description":"Property name"},{"in":"query","name":"propertyitemslimit","type":"integer","description":"Limit the # of property items returned per property"},{"in":"query","name":"showhiddenitems","type":"string","description":"Hidden filter"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2Property"},"description":"OK"}},"tags":["basespace"]}},"/projects/{id}/properties/{name}/items":{"get":{"description":"Get property item details","operationId":"GetV2ProjectsIdPropertiesNameItems","parameters":[{"in":"path","required":true,"name":"id","type":"string"},{"in":"path","required":true,"name":"name","type":"string","description":"Property name"},{"in":"query","name":"showhiddenitems","type":"string","description":"Hidden filter"},{"in":"query","name":"sortby","type":"string","description":"The field(s) used to sort the result set","enum":["DateCreated"]},{"in":"query","name":"offset","type":"integer","description":"The starting offset to read"},{"in":"query","name":"limit","type":"integer","description":"The maximum number of items to return"},{"in":"query","name":"sortdir","type":"string","description":"The sort direction for the result set"}],"responses":{"default":{"schema":{"$ref":"#/definitions/V2Error"},"description":"An error occurred."},"200":{"schema":{"$ref":"#/definitions/V2PropertyItemList"},"description":"OK"}},"tags":["basespace"]}},"/publishappsessionstatus":{"post":{"operationId":"PostV2Publishappsessionstatus","parameters":[{"in":"body","name":"payload","schema":{"$ref":"#/definitions/V2PostPublishAppSessionStatusRequest"}}],"responses":{"default":{"$ref":"#/responses/default"}},"summary":"","tags":["basespace"]}},"/resourcemanifest":{"get":{"operationId":"GetV2Resourcemanifest","parameters":[{"in":"query","name":"projects","type":"array","items":{"type":"string"},"collec
[...]
