# coding: utf-8

"""
    Basespace API

    Basespace REST API  # noqa: E501

    OpenAPI spec version: 5.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class BasespaceApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_v2_appsessions_id(self, id, **kwargs):  # noqa: E501
        """Delete a specific analysis  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_v2_appsessions_id(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Appsession ID (required)
        :param str preserve: Preserve \"Metadata\", to keep records, but not files, of an appsession
        :param bool bypasstrash: Select true to go straight to deletion
        :return: V1pre3TrashItem
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_v2_appsessions_id_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_v2_appsessions_id_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def delete_v2_appsessions_id_with_http_info(self, id, **kwargs):  # noqa: E501
        """Delete a specific analysis  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_v2_appsessions_id_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Appsession ID (required)
        :param str preserve: Preserve \"Metadata\", to keep records, but not files, of an appsession
        :param bool bypasstrash: Select true to go straight to deletion
        :return: V1pre3TrashItem
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'preserve', 'bypasstrash']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_v2_appsessions_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_v2_appsessions_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'preserve' in params:
            query_params.append(('preserve', params['preserve']))  # noqa: E501
        if 'bypasstrash' in params:
            query_params.append(('bypasstrash', params['bypasstrash']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/appsessions/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1pre3TrashItem',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_v2_appsessions_id_properties_name(self, id, name, **kwargs):  # noqa: E501
        """Delete a property of an analysis  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_v2_appsessions_id_properties_name(id, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Appsession ID (required)
        :param str name: Property name (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_v2_appsessions_id_properties_name_with_http_info(id, name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_v2_appsessions_id_properties_name_with_http_info(id, name, **kwargs)  # noqa: E501
            return data

    def delete_v2_appsessions_id_properties_name_with_http_info(self, id, name, **kwargs):  # noqa: E501
        """Delete a property of an analysis  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_v2_appsessions_id_properties_name_with_http_info(id, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Appsession ID (required)
        :param str name: Property name (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_v2_appsessions_id_properties_name" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_v2_appsessions_id_properties_name`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `delete_v2_appsessions_id_properties_name`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/appsessions/{id}/properties/{name}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_v2_icauploads_foldertype_dataid(self, foldertype, dataid, **kwargs):  # noqa: E501
        """delete_v2_icauploads_foldertype_dataid  # noqa: E501

        Delete a resource in ICA  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_v2_icauploads_foldertype_dataid(foldertype, dataid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str foldertype: (required)
        :param str dataid: (required)
        :return: V2Error
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_v2_icauploads_foldertype_dataid_with_http_info(foldertype, dataid, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_v2_icauploads_foldertype_dataid_with_http_info(foldertype, dataid, **kwargs)  # noqa: E501
            return data

    def delete_v2_icauploads_foldertype_dataid_with_http_info(self, foldertype, dataid, **kwargs):  # noqa: E501
        """delete_v2_icauploads_foldertype_dataid  # noqa: E501

        Delete a resource in ICA  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_v2_icauploads_foldertype_dataid_with_http_info(foldertype, dataid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str foldertype: (required)
        :param str dataid: (required)
        :return: V2Error
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['foldertype', 'dataid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_v2_icauploads_foldertype_dataid" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'foldertype' is set
        if ('foldertype' not in params or
                params['foldertype'] is None):
            raise ValueError("Missing the required parameter `foldertype` when calling `delete_v2_icauploads_foldertype_dataid`")  # noqa: E501
        # verify the required parameter 'dataid' is set
        if ('dataid' not in params or
                params['dataid'] is None):
            raise ValueError("Missing the required parameter `dataid` when calling `delete_v2_icauploads_foldertype_dataid`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'foldertype' in params:
            path_params['foldertype'] = params['foldertype']  # noqa: E501
        if 'dataid' in params:
            path_params['dataid'] = params['dataid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/icauploads/{foldertype}/{dataid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V2Error',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_v2_notifications_id(self, id, **kwargs):  # noqa: E501
        """delete_v2_notifications_id  # noqa: E501

        Delete a notification  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_v2_notifications_id(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_v2_notifications_id_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_v2_notifications_id_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def delete_v2_notifications_id_with_http_info(self, id, **kwargs):  # noqa: E501
        """delete_v2_notifications_id  # noqa: E501

        Delete a notification  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_v2_notifications_id_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_v2_notifications_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_v2_notifications_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/notifications/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_v2_oauthv2tokens_current(self, **kwargs):  # noqa: E501
        """delete_v2_oauthv2tokens_current  # noqa: E501

        Invalidate/delete token for a given user  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_v2_oauthv2tokens_current(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_v2_oauthv2tokens_current_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_v2_oauthv2tokens_current_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_v2_oauthv2tokens_current_with_http_info(self, **kwargs):  # noqa: E501
        """delete_v2_oauthv2tokens_current  # noqa: E501

        Invalidate/delete token for a given user  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_v2_oauthv2tokens_current_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_v2_oauthv2tokens_current" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/oauthv2tokens/current', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_v2_session_invalidate(self, **kwargs):  # noqa: E501
        """Log out user from Sequence Hub and end session  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_v2_session_invalidate(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_v2_session_invalidate_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_v2_session_invalidate_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_v2_session_invalidate_with_http_info(self, **kwargs):  # noqa: E501
        """Log out user from Sequence Hub and end session  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_v2_session_invalidate_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_v2_session_invalidate" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/session/invalidate', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_v2_trash(self, **kwargs):  # noqa: E501
        """Delete all items in the trash  # noqa: E501

        Deleting all items from the trash is a non-reversible action. All items and their files will be removed from Sequence Hub permanently.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_v2_trash(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_v2_trash_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_v2_trash_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_v2_trash_with_http_info(self, **kwargs):  # noqa: E501
        """Delete all items in the trash  # noqa: E501

        Deleting all items from the trash is a non-reversible action. All items and their files will be removed from Sequence Hub permanently.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_v2_trash_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_v2_trash" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/trash', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_agreements_id(self, id, **kwargs):  # noqa: E501
        """Get detailed information about a single agreement  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_agreements_id(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Agreement ID (required)
        :return: V2Agreement
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_agreements_id_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_agreements_id_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_v2_agreements_id_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get detailed information about a single agreement  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_agreements_id_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Agreement ID (required)
        :return: V2Agreement
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_agreements_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_v2_agreements_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/agreements/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V2Agreement',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_applicationmetadata(self, **kwargs):  # noqa: E501
        """Request metadata about applications  # noqa: E501

        Request metadata about applications  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applicationmetadata(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource
        :return: ApplicationMetadataV2ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_applicationmetadata_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_applicationmetadata_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_v2_applicationmetadata_with_http_info(self, **kwargs):  # noqa: E501
        """Request metadata about applications  # noqa: E501

        Request metadata about applications  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applicationmetadata_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource
        :return: ApplicationMetadataV2ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_applicationmetadata" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/applicationmetadata', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApplicationMetadataV2ApiResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_applications(self, cwlactive, autolaunchableonruncompleteappsonly, allversions, **kwargs):  # noqa: E501
        """Get a list of available applications  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applications(cwlactive, autolaunchableonruncompleteappsonly, allversions, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool cwlactive: Deprecated as of May 2024. Has no effect, but left here for API backwards compatibility. (required)
        :param bool autolaunchableonruncompleteappsonly: Returns only applications that can be auto-launched after a run completes (required)
        :param bool allversions: Return all the applications versions (required)
        :param str category: Return all apps that belong to a specific category that a user has access to (examples include: Native, Workflow, Other). Only a single category can be specified in a given call
        :param str references: Returns all analysis workflows that a user has access to that were created from a particular app, denoted by its unique slug ID
        :param str sortby: The field(s) used to sort the result set
        :param int offset: The starting offset to read
        :param int limit: The maximum number of items to return
        :param str sortdir: The sort direction for the result set
        :param str id: The Id of the resource
        :return: V1pre3ApplicationCompactList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_applications_with_http_info(cwlactive, autolaunchableonruncompleteappsonly, allversions, **kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_applications_with_http_info(cwlactive, autolaunchableonruncompleteappsonly, allversions, **kwargs)  # noqa: E501
            return data

    def get_v2_applications_with_http_info(self, cwlactive, autolaunchableonruncompleteappsonly, allversions, **kwargs):  # noqa: E501
        """Get a list of available applications  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applications_with_http_info(cwlactive, autolaunchableonruncompleteappsonly, allversions, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool cwlactive: Deprecated as of May 2024. Has no effect, but left here for API backwards compatibility. (required)
        :param bool autolaunchableonruncompleteappsonly: Returns only applications that can be auto-launched after a run completes (required)
        :param bool allversions: Return all the applications versions (required)
        :param str category: Return all apps that belong to a specific category that a user has access to (examples include: Native, Workflow, Other). Only a single category can be specified in a given call
        :param str references: Returns all analysis workflows that a user has access to that were created from a particular app, denoted by its unique slug ID
        :param str sortby: The field(s) used to sort the result set
        :param int offset: The starting offset to read
        :param int limit: The maximum number of items to return
        :param str sortdir: The sort direction for the result set
        :param str id: The Id of the resource
        :return: V1pre3ApplicationCompactList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cwlactive', 'autolaunchableonruncompleteappsonly', 'allversions', 'category', 'references', 'sortby', 'offset', 'limit', 'sortdir', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_applications" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cwlactive' is set
        if ('cwlactive' not in params or
                params['cwlactive'] is None):
            raise ValueError("Missing the required parameter `cwlactive` when calling `get_v2_applications`")  # noqa: E501
        # verify the required parameter 'autolaunchableonruncompleteappsonly' is set
        if ('autolaunchableonruncompleteappsonly' not in params or
                params['autolaunchableonruncompleteappsonly'] is None):
            raise ValueError("Missing the required parameter `autolaunchableonruncompleteappsonly` when calling `get_v2_applications`")  # noqa: E501
        # verify the required parameter 'allversions' is set
        if ('allversions' not in params or
                params['allversions'] is None):
            raise ValueError("Missing the required parameter `allversions` when calling `get_v2_applications`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'category' in params:
            query_params.append(('category', params['category']))  # noqa: E501
        if 'references' in params:
            query_params.append(('references', params['references']))  # noqa: E501
        if 'cwlactive' in params:
            query_params.append(('cwlactive', params['cwlactive']))  # noqa: E501
        if 'autolaunchableonruncompleteappsonly' in params:
            query_params.append(('autolaunchableonruncompleteappsonly', params['autolaunchableonruncompleteappsonly']))  # noqa: E501
        if 'allversions' in params:
            query_params.append(('allversions', params['allversions']))  # noqa: E501
        if 'sortby' in params:
            query_params.append(('sortby', params['sortby']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sortdir' in params:
            query_params.append(('sortdir', params['sortdir']))  # noqa: E501
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/applications', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1pre3ApplicationCompactList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_applications_id(self, id, **kwargs):  # noqa: E501
        """Get information about an app  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applications_id(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param int propertieslimit: Returns only the specified number of properties for the application.
        :param int propertyitemslimit: Returns only the specified number of property items per property for the application
        :return: V1pre3Application
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_applications_id_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_applications_id_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_v2_applications_id_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get information about an app  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applications_id_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :param int propertieslimit: Returns only the specified number of properties for the application.
        :param int propertyitemslimit: Returns only the specified number of property items per property for the application
        :return: V1pre3Application
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'propertieslimit', 'propertyitemslimit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_applications_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_v2_applications_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'propertieslimit' in params:
            query_params.append(('propertieslimit', params['propertieslimit']))  # noqa: E501
        if 'propertyitemslimit' in params:
            query_params.append(('propertyitemslimit', params['propertyitemslimit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/applications/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1pre3Application',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_applications_id_qcthresholds(self, id, **kwargs):  # noqa: E501
        """Get a list of QC thresholds applied to an analysis workflow  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applications_id_qcthresholds(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource (required)
        :return: V2QcThresholdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_applications_id_qcthresholds_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_applications_id_qcthresholds_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_v2_applications_id_qcthresholds_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get a list of QC thresholds applied to an analysis workflow  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applications_id_qcthresholds_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource (required)
        :return: V2QcThresholdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_applications_id_qcthresholds" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_v2_applications_id_qcthresholds`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/applications/{id}/qcthresholds', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V2QcThresholdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_applications_id_screenshots(self, id, **kwargs):  # noqa: E501
        """Get screenshots of an app  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applications_id_screenshots(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource (required)
        :param str sortby: The field(s) used to sort the result set
        :param int offset: The starting offset to read
        :param int limit: The maximum number of items to return
        :param str sortdir: The sort direction for the result set
        :return: ApplicationScreenshotsV2ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_applications_id_screenshots_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_applications_id_screenshots_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_v2_applications_id_screenshots_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get screenshots of an app  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applications_id_screenshots_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource (required)
        :param str sortby: The field(s) used to sort the result set
        :param int offset: The starting offset to read
        :param int limit: The maximum number of items to return
        :param str sortdir: The sort direction for the result set
        :return: ApplicationScreenshotsV2ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'sortby', 'offset', 'limit', 'sortdir']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_applications_id_screenshots" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_v2_applications_id_screenshots`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'sortby' in params:
            query_params.append(('sortby', params['sortby']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sortdir' in params:
            query_params.append(('sortdir', params['sortdir']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/applications/{id}/screenshots', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApplicationScreenshotsV2ApiResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_applications_id_settings(self, id, **kwargs):  # noqa: E501
        """Get the settings of an application or workflow  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applications_id_settings(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource (required)
        :return: V2ApplicationSettings
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_applications_id_settings_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_applications_id_settings_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_v2_applications_id_settings_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get the settings of an application or workflow  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applications_id_settings_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource (required)
        :return: V2ApplicationSettings
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_applications_id_settings" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_v2_applications_id_settings`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/applications/{id}/settings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V2ApplicationSettings',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_applications_id_versions(self, id, **kwargs):  # noqa: E501
        """Get versions of an app  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applications_id_versions(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource (required)
        :param str sortby: The field(s) used to sort the result set
        :param int offset: The starting offset to read
        :param int limit: The maximum number of items to return
        :param str sortdir: The sort direction for the result set
        :return: V1pre3ApplicationCompactV1pre3ApplicationsSortFieldsV2ListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_applications_id_versions_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_applications_id_versions_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_v2_applications_id_versions_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get versions of an app  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applications_id_versions_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource (required)
        :param str sortby: The field(s) used to sort the result set
        :param int offset: The starting offset to read
        :param int limit: The maximum number of items to return
        :param str sortdir: The sort direction for the result set
        :return: V1pre3ApplicationCompactV1pre3ApplicationsSortFieldsV2ListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'sortby', 'offset', 'limit', 'sortdir']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_applications_id_versions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_v2_applications_id_versions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'sortby' in params:
            query_params.append(('sortby', params['sortby']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sortdir' in params:
            query_params.append(('sortdir', params['sortdir']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/applications/{id}/versions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1pre3ApplicationCompactV1pre3ApplicationsSortFieldsV2ListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_applications_id_workflowdependencies(self, id, **kwargs):  # noqa: E501
        """Get a list of workflow dependencies on an analysis workflow  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applications_id_workflowdependencies(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource (required)
        :return: V2AnalysisWorkflowDependenciesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_applications_id_workflowdependencies_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_applications_id_workflowdependencies_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_v2_applications_id_workflowdependencies_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get a list of workflow dependencies on an analysis workflow  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_applications_id_workflowdependencies_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource (required)
        :return: V2AnalysisWorkflowDependenciesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_applications_id_workflowdependencies" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_v2_applications_id_workflowdependencies`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/applications/{id}/workflowdependencies', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V2AnalysisWorkflowDependenciesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_appresults_id_file_upload_info(self, id, **kwargs):  # noqa: E501
        """get_v2_appresults_id_file_upload_info  # noqa: E501

        Request direct file upload presigned url information for a new file in the specified resource (dataset or appresult)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_appresults_id_file_upload_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource (required)
        :param str filepath:
        :param int uploadpartcount:
        :return: V2PresignedUrlForUpload
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_appresults_id_file_upload_info_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_appresults_id_file_upload_info_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_v2_appresults_id_file_upload_info_with_http_info(self, id, **kwargs):  # noqa: E501
        """get_v2_appresults_id_file_upload_info  # noqa: E501

        Request direct file upload presigned url information for a new file in the specified resource (dataset or appresult)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_appresults_id_file_upload_info_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The Id of the resource (required)
        :param str filepath:
        :param int uploadpartcount:
        :return: V2PresignedUrlForUpload
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'filepath', 'uploadpartcount']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_appresults_id_file_upload_info" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_v2_appresults_id_file_upload_info`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'filepath' in params:
            query_params.append(('filepath', params['filepath']))  # noqa: E501
        if 'uploadpartcount' in params:
            query_params.append(('uploadpartcount', params['uploadpartcount']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/appresults/{id}/file-upload-info', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V2PresignedUrlForUpload',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_appsessions(self, **kwargs):  # noqa: E501
        """Get a list of analyses  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_appsessions(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int appid: Filter by ID of application used
        :param list[str] applicationfamilyslugs: Filter by application family
        :param bool ownedbycurrentuser: Only include appsessions where the project has WRITE permission by the current user
        :param str datemodified:
        :param str executionstatus: Filter by execution status
        :param str qcstatus: Filter by QC status
        :param str deliverystatus: Filter by delivery status
        :param str name:
        :param list[int] output_projects: Filter by ID of output project
        :param list[int] input_runs: Filter by ID of run input
        :param list[int] input_biosamples: Filter by ID of biosample input
        :param list[str] include: Additional resources to include
        :param list[str] propertyfilters: Filter by appsessions include the specified property names
        :param int usercreatedby: ID of user who created appsession
        :param str sortby: The field(s) used to sort the result set
        :param int offset: The starting offset to read
        :param int limit: The maximum number of items to return
        :param str sortdir: The sort direction for the result set
        :return: V2AppSessionCompactList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_appsessions_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_appsessions_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_v2_appsessions_with_http_info(self, **kwargs):  # noqa: E501
        """Get a list of analyses  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_appsessions_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int appid: Filter by ID of application used
        :param list[str] applicationfamilyslugs: Filter by application family
        :param bool ownedbycurrentuser: Only include appsessions where the project has WRITE permission by the current user
        :param str datemodified:
        :param str executionstatus: Filter by execution status
        :param str qcstatus: Filter by QC status
        :param str deliverystatus: Filter by delivery status
        :param str name:
        :param list[int] output_projects: Filter by ID of output project
        :param list[int] input_runs: Filter by ID of run input
        :param list[int] input_biosamples: Filter by ID of biosample input
        :param list[str] include: Additional resources to include
        :param list[str] propertyfilters: Filter by appsessions include the specified property names
        :param int usercreatedby: ID of user who created appsession
        :param str sortby: The field(s) used to sort the result set
        :param int offset: The starting offset to read
        :param int limit: The maximum number of items to return
        :param str sortdir: The sort direction for the result set
        :return: V2AppSessionCompactList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['appid', 'applicationfamilyslugs', 'ownedbycurrentuser', 'datemodified', 'executionstatus', 'qcstatus', 'deliverystatus', 'name', 'output_projects', 'input_runs', 'input_biosamples', 'include', 'propertyfilters', 'usercreatedby', 'sortby', 'offset', 'limit', 'sortdir']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_appsessions" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'appid' in params:
            query_params.append(('appid', params['appid']))  # noqa: E501
        if 'applicationfamilyslugs' in params:
            query_params.append(('applicationfamilyslugs', params['applicationfamilyslugs']))  # noqa: E501
            collection_formats['applicationfamilyslugs'] = 'csv'  # noqa: E501
        if 'ownedbycurrentuser' in params:
            query_params.append(('ownedbycurrentuser', params['ownedbycurrentuser']))  # noqa: E501
        if 'datemodified' in params:
            query_params.append(('datemodified', params['datemodified']))  # noqa: E501
        if 'executionstatus' in params:
            query_params.append(('executionstatus', params['executionstatus']))  # noqa: E501
        if 'qcstatus' in params:
            query_params.append(('qcstatus', params['qcstatus']))  # noqa: E501
        if 'deliverystatus' in params:
            query_params.append(('deliverystatus', params['deliverystatus']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'output_projects' in params:
            query_params.append(('output.projects', params['output_projects']))  # noqa: E501
            collection_formats['output.projects'] = 'csv'  # noqa: E501
        if 'input_runs' in params:
            query_params.append(('input.runs', params['input_runs']))  # noqa: E501
            collection_formats['input.runs'] = 'csv'  # noqa: E501
        if 'input_biosamples' in params:
            query_params.append(('input.biosamples', params['input_biosamples']))  # noqa: E501
            collection_formats['input.biosamples'] = 'csv'  # noqa: E501
        if 'include' in params:
            query_params.append(('include', params['include']))  # noqa: E501
            collection_formats['include'] = 'csv'  # noqa: E501
        if 'propertyfilters' in params:
            query_params.append(('propertyfilters', params['propertyfilters']))  # noqa: E501
            collection_formats['propertyfilters'] = 'csv'  # noqa: E501
        if 'usercreatedby' in params:
            query_params.append(('usercreatedby', params['usercreatedby']))  # noqa: E501
        if 'sortby' in params:
            query_params.append(('sortby', params['sortby']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sortdir' in params:
            query_params.append(('sortdir', params['sortdir']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/appsessions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V2AppSessionCompactList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_appsessions_id(self, id, **kwargs):  # noqa: E501
        """Get information about an analysis  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_appsessions_id(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Appsession ID (required)
        :param list[str] include: Additional resources to include
        :param str showhiddenitems: ShowHiddenItems 
        :return: V2AppSession
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_appsessions_id_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_appsessions_id_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_v2_appsessions_id_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get information about an analysis  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_appsessions_id_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Appsession ID (required)
        :param list[str] include: Additional resources to include
        :param str showhiddenitems: ShowHiddenItems 
        :return: V2AppSession
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'include', 'showhiddenitems']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_appsessions_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_v2_appsessions_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'include' in params:
            query_params.append(('include', params['include']))  # noqa: E501
            collection_formats['include'] = 'csv'  # noqa: E501
        if 'showhiddenitems' in params:
            query_params.append(('showhiddenitems', params['showhiddenitems']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/appsessions/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V2AppSession',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_appsessions_id_comments(self, id, **kwargs):  # noqa: E501
        """Get a list of comments made about an analysis  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_appsessions_id_comments(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Appsession ID (required)
        :param str sortby: The field(s) used to sort the result set
        :param int offset: The starting offset to read
        :param int limit: The maximum number of items to return
        :param str sortdir: The sort direction for the result set
        :return: V2CommentList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_appsessions_id_comments_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_appsessions_id_comments_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_v2_appsessions_id_comments_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get a list of comments made about an analysis  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_appsessions_id_comments_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Appsession ID (required)
        :param str sortby: The field(s) used to sort the result set
        :param int offset: The starting offset to read
        :param int limit: The maximum number of items to return
        :param str sortdir: The sort direction for the result set
        :return: V2CommentList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'sortby', 'offset', 'limit', 'sortdir']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_appsessions_id_comments" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_v2_appsessions_id_comments`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'sortby' in params:
            query_params.append(('sortby', params['sortby']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sortdir' in params:
            query_params.append(('sortdir', params['sortdir']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/appsessions/{id}/comments', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V2CommentList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_appsessions_id_icalogs(self, id, **kwargs):  # noqa: E501
        """Get ICA log steps for workflows and analyses  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_appsessions_id_icalogs(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Appsession ID (required)
        :param int offset: The starting offset to read
        :param int limit: The maximum number of items to return
        :param str sortdir: The sort direction for the result set
        :return: V2AppSessionIcaLogPathList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_appsessions_id_icalogs_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_appsessions_id_icalogs_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_v2_appsessions_id_icalogs_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get ICA log steps for workflows and analyses  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_appsessions_id_icalogs_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Appsession ID (required)
        :param int offset: The starting offset to read
        :param int limit: The maximum number of items to return
        :param str sortdir: The sort direction for the result set
        :return: V2AppSessionIcaLogPathList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'offset', 'limit', 'sortdir']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_appsessions_id_icalogs" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_v2_appsessions_id_icalogs`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sortdir' in params:
            query_params.append(('sortdir', params['sortdir']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/appsessions/{id}/icalogs', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V2AppSessionIcaLogPathList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_appsessions_id_icalogs_analyses_analysisid_stepid(self, id, analysisid, stepid, **kwargs):  # noqa: E501
        """Get ICA analysis log step stdout stderr log paths  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_appsessions_id_icalogs_analyses_analysisid_stepid(id, analysisid, stepid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Appsession ID (required)
        :param str analysisid: ICA Analyses Id (required)
        :param str stepid: Step ID (required)
        :param int offset: The starting offset to read
        :param int limit: The maximum number of items to return
        :param str sortdir: The sort direction for the result set
        :return: V2AppSessionIcaStepLogCompactList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_appsessions_id_icalogs_analyses_analysisid_stepid_with_http_info(id, analysisid, stepid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_appsessions_id_icalogs_analyses_analysisid_stepid_with_http_info(id, analysisid, stepid, **kwargs)  # noqa: E501
            return data

    def get_v2_appsessions_id_icalogs_analyses_analysisid_stepid_with_http_info(self, id, analysisid, stepid, **kwargs):  # noqa: E501
        """Get ICA analysis log step stdout stderr log paths  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_appsessions_id_icalogs_analyses_analysisid_stepid_with_http_info(id, analysisid, stepid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Appsession ID (required)
        :param str analysisid: ICA Analyses Id (required)
        :param str stepid: Step ID (required)
        :param int offset: The starting offset to read
        :param int limit: The maximum number of items to return
        :param str sortdir: The sort direction for the result set
        :return: V2AppSessionIcaStepLogCompactList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'analysisid', 'stepid', 'offset', 'limit', 'sortdir']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_v2_appsessions_id_icalogs_analyses_analysisid_stepid" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_v2_appsessions_id_icalogs_analyses_analysisid_stepid`")  # noqa: E501
        # verify the required parameter 'analysisid' is set
        if ('analysisid' not in params or
                params['analysisid'] is None):
            raise ValueError("Missing the required parameter `analysisid` when calling `get_v2_appsessions_id_icalogs_analyses_analysisid_stepid`")  # noqa: E501
        # verify the required parameter 'stepid' is set
        if ('stepid' not in params or
                params['stepid'] is None):
            raise ValueError("Missing the required parameter `stepid` when calling `get_v2_appsessions_id_icalogs_analyses_analysisid_stepid`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'analysisid' in params:
            path_params['analysisid'] = params['analysisid']  # noqa: E501
        if 'stepid' in params:
            path_params['stepid'] = params['stepid']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sortdir' in params:
            query_params.append(('sortdir', params['sortdir']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'basespace_auth']  # noqa: E501

        return self.api_client.call_api(
            '/appsessions/{id}/icalogs/analyses/{analysisid}/{stepid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V2AppSessionIcaStepLogCompactList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_v2_appsessions_id_icalogs_analyses_analysisid_stepid_stderr(self, id, analysisid, stepid, **kwargs):  # noqa: E501
        """Get ICA analysis step stderr log  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_appsessions_id_icalogs_analyses_analysisid_stepid_stderr(id, analysisid, stepid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Appsession ID (required)
        :param str analysisid: ICA Analyses Id (required)
        :param str stepid: Step ID (required)
        :return: V2AppSessionIcaStepLog
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_v2_appsessions_id_icalogs_analyses_analysisid_stepid_stderr_with_http_info(id, analysisid, stepid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_v2_appsessions_id_icalogs_analyses_analysisid_stepid_stderr_with_http_info(id, analysisid, stepid, **kwargs)  # noqa: E501
            return data

    def get_v2_appsessions_id_icalogs_analyses_analysisid_stepid_stderr_with_http_info(self, id, analysisid, stepid, **kwargs):  # noqa: E501
        """Get ICA analysis step stderr log  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_v2_appsessions_id_icalogs_analyses_analysisid_stepid_stderr_with_http_info(id, analysisid, stepid, async_req=True)
[...]
